<div class="loading text-center" ng-show='!vendorColors.length'>
  <span>Loading data...</span><br><br>
  <i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<section class="section-vendor-colors" ng-show="vendorColors.length">
  <div class="row">
    <div class="col-sm-6">
      <form ng-submit="searchFilter.all = search.all">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-btn"><button class="btn btn-default" ng-click="searchFilter.all = search.all"><i class="glyphicon glyphicon-search"></i></button></span>
            <input id="id_search_all" type="text" class="form-control" ng-model="search.all" placeholder="Search Manufacturer Color or Number"/>
             <span ng-if="search.all || searchFilter.all" class="input-group-btn"><button ng-click="searchFilter.all=null;search.all=null;" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></button></span>
           </div>
        </div>
      </form>
    </div>
    <div class="col-sm-6"><p class="">Showing {{(vendorColors | multiKeywordFilter:searchFilter.all).length}} out of {{ vendorColors.length }} colors </p></div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th>Manufacturer</th>
              <th>Color</th>
              <th>Number</th>
              <th>Glueboss Color</th>
              <th>Glueboss Number</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="color in vendorColors | multiKeywordFilter:searchFilter.all">
              <td>{{color.manufacturer}}</td>
              <td>{{color.color}}</td>
              <td>{{color.number}}</td>
              <td><span ng-if="color.glueBoss_color"><a ng-repeat="colorKey in vendorColorKeys" ng-if="color.glueBoss_color==colorKey.name" href="{{linkUrl}}?color={{colorKey.id}}">{{color.glueBoss_color}}</a></span></td>
              <td>{{color.new_number}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>